.noticeview{
    font-family: "Gothic A1", serif;
    font-weight: 400;
    font-style: normal;
    width:1500px;
    justify-self: center;
    margin-top:100px;
    margin-bottom:100px;
}
.noticeview header h2{
    display:flex;
    font-family:"Hahmlet", serif;
    justify-content: center;
    font-size: 45px;
    color:rgb(60, 60, 95);
}

.viewbox{
    padding:20px;
    marging:0;
    background-color: rgba(177, 176, 176, 0.205);
}
.title{
    padding:20px;
    font-size: 25px;
    font-weight: bold;
}
.created{
    padding:20px;
    display: inline-block;
}
.view{
    padding:20px;
    display: inline-block;
}
.content{
    min-height:800px;
    padding:40px;
    font-size: 20px;
}
.noticeview a{
	text-decoration: none;
	color:black;
	padding:5px;
	text-align:center;
	font-family:"Hahmlet", serif;
	font-size: 20px;
	border-radius: 10px;
	margin-top:40px;
	background-color: rgba(177, 176, 176, 0.205);
}
.noticeview a:hover{
	font-weight: bold;
}