.notice .notice-page{
    font-family: "Gothic A1", serif;
    font-weight: 400;
    font-style: normal;
    width:1500px;
    justify-self: center;
    margin-top:100px;
    margin-bottom:100px;
    min-height:800px;
}
.notice .notice-page header h2{
    display:flex;
    font-family:"Hahmlet", serif;
    justify-content: center;
    font-size:45px;
    color:rgb(60, 60, 95);
}

.notice .notice-page table{
    margin-top:80px;
    padding:50px;
    font-size: 18px;
    text-align: center;
    width:100%;
    border-collapse: collapse;
}

.notice .notice-page table tr{
    margin-top:20px;
    padding:50px;
}
.notice .notice-page table td{
    margin-top:20px;
    border-bottom:1px solid rgb(150, 150, 150);
    padding:25px;
}
.notice .notice-page table tr:hover{
    background-color: rgba(177, 176, 176, 0.205);
    color:rgba(0, 0, 0, 0.521);
}
.notice .notice-page table .no{
    width:10%;
}
.notice .notice-page table .title{
    width:60%;
}
.notice .notice-page table .date{
    width:10%;
}
.notice .notice-page table .hit{
    width:10%;
}
.notice .notice-page table .action{
    width:10%;
}
.notice .notice-page table .tdid{
    font-weight: bold;
}
.notice .notice-page table .tdtitle{
    font-weight: bold;
    
}
.notice .notice-page .text-decoration-none{
    text-decoration: none;
    color:black;
}

