.product-page{
    font-family:"Hahmlet", serif;
    width:1500px;
    justify-self: center;
}
.slider .slides img{
    border-radius: 15px;
    flex-shrink: 0;
    width:100%;
    height:500px;
}
.slider {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

.product-search{
    display: flex;
    justify-content: right;
    margin-top:70px;
    margin-bottom:30px;
    
}
.product-search input, 
.product-search button {
    font-family: "Hahmlet", serif !important;
    font-size:medium
}

.product-search #p-search{
    border:none;
    border-bottom: 1px solid gray;
    color:rgb(0, 0, 0);
}
.product-search #p-search:focus{
    /* border:none; */
    outline: none;

}
.product-search #btn1{
    border:none;
    border-radius: 5px;
    background-color:white;
}
.product-search #btn1:hover{
    cursor: pointer;
    font-weight: bold;
}
.container aside .category{
    padding: 5px;
    margin:0;
    list-style-type: none;
    display: flex;
    gap:20px;
    border-radius: 15px;
}
.product-none{
	font-size:larger;
}
.category li a{
    text-decoration: none;
    color:rgb(41, 41, 41);
}
.category li a:hover{
    font-weight: bold;
    color:rgb(60, 60, 95);
    text-decoration: underline;
}
.container {
    display: flex;
    margin-top: 30px;
    height:100%;
}
.container aside ul{
    text-align: left;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    height:100%;
    
}
.container aside ul li a:hover{
    font-weight: bold;
}
aside {
    width: 20%;
    padding: 50px;
    text-align: center;
}
aside p{
    font-size: 20px;
}

main{
    width:80%;
}
.container .productpage-list .btnZone{
    margin-top:50px;
    display: flex;
    justify-content: center;
    word-spacing: 10px;
}
.productpage-list ul{
    margin:0px;
    padding:0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3개의 열로 나누기 */
    gap: 20px; /* 아이템 간 간격 */
}
.productpage-list li{
    list-style: none;
    display: inline-block;
    /* margin:47px; */
    margin-top: 60px;
    margin-bottom: 47px;
}
.productpage-list .product-each img{
    border-radius: 15px;
}

.productpage-list .pricecolor {
    font-weight: bold;
    font-size: 25px;
    color:rgb(72, 72, 107);
}
.productpage-list .name{
    font-weight: bold;
    font-size: 18px;
}

.productpage-list .won{
    font-size:15px;
}
.productpage-list button .cart{
	background: none;
	border:none;
}
.productpage-list button .cart:hover{
	cursor:pointer;
}
.productpage-list .btnZone button{
    padding:10px;
    border:none;
    background-color: white;
}

.productpage-list .btnZone{
    text-align: center;
    word-spacing: 10px; 
    margin-bottom:80px;
}
.productpage-list .btnZone button{
    font-size: 30px;
}
.productpage-list .btnPrev, .productpage-list .btnZone .btnNext{
    pointer-events: none;
    background-color: white;
    border: 0px;
    padding:5px;
    border-radius: 10px;
}
.container aside .ctitle{
	color:rgb(72, 72, 107);
}
.productpage-list .btnPrevEnable, .productpage-list .btnNextEnable{
    pointer-events: all;
    border: 0px;
    cursor: pointer;
    background-color:rgb(60, 60, 95);
    padding:5px;
    border-radius: 10px;
}
.productpage-list .cart img{
    width:40px;
    
}
.productpage-list .cart{
    display:flex;
    position: relative;
    left: 200px;
}
#footers{
    margin-top:120px;
}